/* Новый главный контейнер для редактора и сайдбара */
.editor-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.workflow-editor-container {
  flex-grow: 1; /* Занимает все оставшееся пространство */
  height: 100%;
  position: relative;
}

.editor-controls {
  position: absolute;
  top: 15px;
  right: 15px; /* Переместили кнопки вправо для удобства */
  left: auto;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.back-button, .save-button {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}
.run-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.run-button:hover {
  background-color: #0069d9;
}
